@model Tchaps.Impotquebec.Models.AppUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ssn" class="control-label"></label>
                <input asp-for="Ssn" class="form-control" />
                <span asp-validation-for="Ssn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressApartment" class="control-label"></label>
                <input asp-for="AddressApartment" class="form-control" />
                <span asp-validation-for="AddressApartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreetNumber" class="control-label"></label>
                <input asp-for="AddressStreetNumber" class="form-control" />
                <span asp-validation-for="AddressStreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreetName" class="control-label"></label>
                <input asp-for="AddressStreetName" class="form-control" />
                <span asp-validation-for="AddressStreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressPostalCode" class="control-label"></label>
                <input asp-for="AddressPostalCode" class="form-control" />
                <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressMunicipality" class="control-label"></label>
                <input asp-for="AddressMunicipality" class="form-control" />
                <span asp-validation-for="AddressMunicipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressProvince" class="control-label"></label>
                <input asp-for="AddressProvince" class="form-control" />
                <span asp-validation-for="AddressProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedEmail" class="control-label"></label>
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </label>
            </div>
          
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
