@{
    Layout = null;
}

<script id="section-item-template" type="text/x-handlebars-template">
   
    {{#data.taxFormSections}}
    <div class="step-tab-panel" data-step="step{{rank}}" id="step{{taxFormSectionId}}" data-taxFormSectionId="{{taxFormSectionId}}">
          <h2>{{{name}}}</h2>
          <table class='table table-sm table-striped table-responsive'>
               <thead>
                    <tr>
                      <th scope="col">Line</th>
                      <th scope="col">Description</th>
                      <th scope="col"></th>
                    </tr>
              </thead>
              <tbody>
               {{#taxFormLines}}               
                 <tr data-taxFormLineId="{{taxFormLineId}}" id="tax_form_line_{{taxFormLineId}}">
                    <td class='td'>
                        <label>{{lineNumber}}</label>                        
                    </td>
                    <td>
                         <label for="id_{{taxFormLineId}}">
                           {{{name}}}
                        </label>
                    </td>                    
                    <td>
                        <input 
                        {{#formDataType.isTextBox}}
                            type="{{formDataType.name}}" 
                        {{/formDataType.isTextBox}}

                         {{^formDataType.isTextBox}}
                            type="text" 
                        {{/formDataType.isTextBox}}

                        class="form-control" name="l_{{lineNumber}}" id="id_{{taxFormLineId}}" data-lineNumber="{{lineNumber}}"
                                   {{#isRequired}}
                                    required
                                   {{/isRequired}}
                                   validationMessage="{{name}} is required">
                        <span class="k-invalid-msg" data-for="l_{{lineNumber}}"></span>
                    </td>                  
                </tr>
                {{/taxFormLines}}
                 </tbody>
          </table>
    </div>
    {{/data.taxFormSections}}
</script>
