@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <H4>INCOME TAX RETURN
         <a asp-action="IncomeTax" asp-route-id="TP-1.D-V">Create TP-1 declaration</a></H4>
</div>
