@model Tchaps.Impotquebec.Models.Declaration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Declaration</h4>
<hr />

<div class="row">
    <form asp-action="Create" id="tax_Form">
        <input asp-for="DeclarationId" class="form-control" type="hidden"/>
        <input asp-for="UserId" class="form-control" type="hidden"/>
        <input asp-for="User.Email" class="form-control" type="hidden"/>
        <input asp-for="User.FirstName" class="form-control" type="hidden"/>
        <input asp-for="User.LastName" class="form-control" type="hidden"/>
        <input asp-for="User.Sex" class="form-control" type="hidden"/>
        <input asp-for="User.AddressApartment" class="form-control" type="hidden"/>
        <input asp-for="User.AddressMunicipality" class="form-control" type="hidden"/>
        <input asp-for="User.AddressPostalCode" class="form-control" type="hidden"/>
        <input asp-for="User.AddressProvince" class="form-control" type="hidden"/>
        <input asp-for="User.AddressStreetName" class="form-control" type="hidden"/>
        <input asp-for="User.AddressStreetNumber" class="form-control" type="hidden"/>
        <input asp-for="User.Birthdate" class="form-control" type="hidden"/>
        <input asp-for="User.Language" class="form-control" type="hidden"/>
        <input asp-for="TaxFormId" class="form-control" type="hidden"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FiscalYear" class="control-label"></label>
                <input asp-for="FiscalYear" class="form-control" maxlength='4' min='2020'/>
                <span asp-validation-for="FiscalYear" class="text-danger"></span>
            </div>

            <div class='row'>    
        <div class="step-app" id="tax_wizard_block">
          <ul class="step-steps" id='step_steps_block'>        
        
          </ul>
          <div class="step-content" id='step_content_block'>
        
          </div>
          <div class="step-footer">
            <button data-step-action="prev" class="step-btn">Previous</button>
            <button data-step-action="next" class="step-btn">Next</button>
            <button data-step-action="finish" class="step-btn">Finish</button>
          </div>
        </div>
</div>
           
        </form>
</div>
<br />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@await Html.PartialAsync("_FormTemplate")


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function(){
       tax_service.init_declaration();
              
    })
    </script>
}
